<h2>New Service</h2>
<%= form_for(@service) do |f| %>
<%= f.label :name %>
<%= f.text_field :name, required:true %>
<br>
<br>
<%= f.label :description %>
<%= f.text_area :description, required:true %>
<br>
<br>
<%= f.submit%>
<% end %>
<br>
<%= link_to "Back to Homepage", client_path(current_client), method:'get'  %> 