<html>
<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=4343854762307447&autoLogAppEvents=1"></script>

<h1>Login</h1>

<% flash[:message] if flash[:message] %>

<%= form_for :user do |f|%>
<div class="input-field col s12">
  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>
  <br>
  <div class="input-field col s12">
  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <br>
  <%= f.submit "Login"%>
  <br>
<% end %>
<br>
<div class="fb-login-button" data-size="medium" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="true" data-width=""></div>
<br>
<div id="my-signin2" class="center"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 200,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure,
        'align': 'center',
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </body>
</html>
