<h1>Sign Up</h1>

<%= form_for(@client, url:'/signup') do |f|%>
<%= f.label :first_name %>
<%= f.text_field :first_name %>
<br>
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<br>
<%= f.label :phone %>
<%= f.text_field :phone %>
<br>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :profile_picture %>
<%= f.file_field :profile_picture%>
<br>
<%= f.submit "Sign Up"%>
<br>
<% end %>