<h1>Welcome to Garrett Home Improvement Inc. Client Portal</h1>

<h2>Hello, <%= @client.first_name %></h2>

<h3>Here are your scheduled appointments:</h3>
<ul>
<% current_client.appointments.each do |appointment| %>
    <li> <%= link_to appointment.service.name, client_appointment_path(current_client, appointment) %> on <%= appointment.date.strftime('%a, %b %d, %Y') %></li>
  <% end %>
</ul>

<%= link_to "Set up a New Appointment", new_client_appointment_path(@client), method:'get' %> |
<%= link_to "Log Out", logout_path, method: :delete, data: { confirm: "Are you sure?", disable_with: "Processing..." } %> 



