<h1>Appointment Details</h1>
<p>Appointment Date: <%= @appointment.date.strftime('%a, %b %d, %Y')%></p>
<p>Appointment Time: <%= @appointment.time.strftime('%I:%M %p')%></p>
<p>Project Budget: $<%= @appointment.budget%></p>
<p>Project Notes: <%=@appointment.notes%></p>
<p>Before Photos: 
<% if @appointment.before_pictures.attached? %>
        <%= @appointment.before_pictures.each do |picture| %>
        <%= image_tag(picture, :class => "pictures") %>
        <% end %>
    <% end %>
</p>
