<h1>Appointment Details</h1>
<p>Appointment Date:<%= @appointment.date%></p>
<p>Appointment Time:<%= @appointment.time%></p>
<p>Project Budget:<%= @appointment.budget%></p>
<% if @appointment.notes do %>
<p>Project Notes: <%=@appointment.date%></p>
<% end %>
<p>Before Photo: <%= @appointment.appointment_image%></p>
