<h1>Service Review</h1>
<%= form_for(@review) do |f| %>
<%= f.label :appointment %>
<%= f.collection_select :appointment_id, current_client.appointments.all, :id, :date %> 
<br>
<br>
<%= f.label :service %>
<%= f.collection_select :service_id, current_client.appointments.all, :id, :service_id %>
<br>
<br>
<%= f.label :rating %>
<%= f.text_field :rating, required:true %>
<br>
<br>
<%= f.label :comment %>
<%= f.time_area :comment, required:true %>
<br>
<br>
<%= f.label :after_pictures %>
<%= f.file_field :after_pictures, multiple: true %>
<br>
<br>
<%= f.submit%>
<% end %>