<h2>Leave a Review</h2>
<%= form_for(@review) do |f| %>
<%= f.label :appointment %>
<%= f.collection_select :appointment_id, current_client.appointments.all, :id, :name%> 
<br>
<br>
<%= f.label :service %>
<%= f.collection_select :service_id, current_client.services.all, :id, :name %>
<br>
<br>
<%= f.label :rating %>
<%= f.select(:rating, (1..5), :prompt => 'Select') %>
<br>
<br>
<%= f.label :comment %>
<%= f.text_area :comment, required:true %>
<br>
<br>
<%= f.label :after_pictures %>
<%= f.file_field :after_pictures, multiple: true %>
<br>
<br>
<%= f.submit%>
<% end %>
<br>
<%= link_to "Back to Homepage", client_path(current_client), method:'get'  %> 