<!DOCTYPE html>
<html>
  <head>
    <title>GarrettHomeImprovementInc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  </head>

  <body>

    <nav>
      <ul>
        <% if is_logged_in?%>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/signup">Signup</a> </li>
          <li><a href="/login">Login</a></li>
        <% end %>
      </ul>
    </nav>

    <div class="wrapper">

      <%= yield %>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  </body>
</html>
