<!DOCTYPE html>
<html>
  <head>
    <title>GarrettHomeImprovementInc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id='top_banner'>

  </div>
    
    <%= yield %>

  <div id='bottom_banner'>

  </div>
  </body>
</html>
